// Add your own CSS here!

:root {
  --light: #ffdfcc;
  --dark: #141021;
  --secondary: #e95601;
  --tertiary: #d04d01;
  --visited: #b14405;
  --primary: #291205;
  --gray: #1e0b00;
  --lightgray: #f2d3c0;
  --outlinegray: #e95601;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #ca5c1c;
}

[saved-theme="dark"] {
  --light: #1B1A17 !important;
  --dark: #fff !important;
  --secondary: #E6D5B8 !important;
  --visited: #FF6000 !important;
  --tertiary: #F0A500 !important;
  --primary: #E45826 !important;
  --gray: #eee !important;
  --lightgray: #131210 !important;
  --outlinegray: #F0A500 !important;
  --highlighted: #DC5F00;
}