// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #1B1A17 !important;
  --dark: #fff !important;
  --secondary: #E6D5B8!important;
  --visited: #FF6000 !important;
  --tertiary: #F0A500 !important;
  --primary: #E45826 !important;
  --gray: #eee !important;
  --lightgray: #131210 !important;
  --outlinegray: #F0A500 !important;
  --highlighted: #DC5F00;
}



